################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/out/build/x64-debug
/.vs
/vcpkg_installed
/out
compile_commands.json
